[Unit]
Description=wicked managed network interfaces
Wants=network.target
After=network-pre.target wickedd.service wickedd-nanny.service
Before=network-online.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
LimitCORE=infinity
EnvironmentFile=-/etc/sysconfig/network/config
ExecStart=/usr/sbin/wicked --systemd ifup all
ExecReload=/usr/sbin/wicked --systemd ifreload all

[Install]
WantedBy=multi-user.target network-online.target
Alias=network.service
Also=wickedd.service
